[submodule "rl-tools"]
	path = rl-tools
	url = https://github.com/rl-tools/rl-tools.git
	branch = main
[submodule "runs/ci"]
	path = runs/ci
	url = https://github.com/rl-tools/zoo-runs-ci.git
	branch = main
[submodule "runs/curated"]
	path = runs/curated
	url = https://github.com/rl-tools/zoo-runs-curated.git
